body,div,padding,input,p,img{
    margin:0;
    padding:0;
    border:0;
}

body,html{
    height:100%;
    width:100%;
    background:#3f4241;
    color:#DDD;
}

div#content{
	margin-left: 1%
}

div#content{
	font: 1em Consolas, monaco, monospace;
}

a:link, a:visited{
    color:#DDD;
}

div#top_line{
	
}

div#header{
	margin-top:1%;
}

div#footer{
	text-align: center;
}

div.topic_header{
	color: #7CFC11;
	margin-top:2%;
}

div.body_text{
	margin-left:5%;
}

div.:nth-child(odd){
	background-color: #444;
}
div.:nth-child(even){
	background-color: #222;
}

div.body_text:last-chid{
	//center 
}

/*-----------*/

a:link,
a:visited {
  text-decoration-color: green;
  transition: 
    text-decoration-thickness 200ms ease-out, 
    text-underline-offset 200ms ease-out,
    text-decoration-color 200ms ease-out,
    color 200ms ease-out
  ; 
}

a:hover,
a:focus,
a:active {
  text-decoration-color: green;
}

/* In the nav… */

/* Firefox beta flags have the numbers backwards…
   (there's not really any reason to support this) */
nav a:link,
nav a:visited {
  display: inline-block;
  padding: 0.25em;
  text-underline-offset: -1em; 
}

nav a:hover,
nav a:focus,
nav a:active {
  text-underline-offset: -0.25em; 
}

@supports (text-underline-offset: 1em) {
  nav a:hover,
  nav a:focus,
  nav a:active {
    text-decoration-color: var(--warm-red);
  }  
}

@supports (text-decoration-thickness: 1em) {
  nav a:link,
  nav a:visited {
    text-underline-offset: 1em; 
  }

  nav a:hover,
  nav a:focus,
  nav a:active {
    text-decoration-thickness: 0.25em;  
    text-underline-offset: 0.25em; 
  }  
}


/* In the paragraph… */

p a:link {
  text-underline-offset: -0.075em;
}

p a:hover {
  text-underline-offset: -0.375em;
}

@supports (text-decoration-thickness: 1em) {
  p a:link {
    text-decoration-thickness: 0.125em;  
    text-underline-offset: 0.125em;
    text-decoration-skip-ink: none;
  }

  p a:hover {
    color: var(--background);
    text-decoration-thickness: 1.125em;
    text-underline-offset: -0.875em;     
  }
}


div a:link {
  text-underline-offset: -0.075em;
}

div a:hover {
  text-underline-offset: -0.375em;
}

@supports (text-decoration-thickness: 1em) {
  div a:link {
    text-decoration-thickness: 0.125em;  
    text-underline-offset: 0.125em;
    text-decoration-skip-ink: none;
  }

  div a:hover {
    color: var(--background);
    text-decoration-thickness: 1.125em;
    text-underline-offset: -0.875em;     
  }
}
