body {
	background: #fff;
	color: #424242;
	font-family: 'Roboto', sans-serif;
	margin-right: 12%;
        margin-left: 12%;
	padding-top: 1.5em;
	position: relative;
}
footer, header, main, section {
	display: block;
}
h1 {
	font-size: 2em;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-align: center;
}
h2 {
	font-size: 1.1em;
	font-weight: bold;
	margin: 1.1em 0 0.25em 0;
	padding: 0;
}
p {
	font-size: 0.9em;
	margin: 0 0 0.8em 0;
	padding: 0;
}
address {
	font-style: normal;
	display: inline;
}
cite, em {
	font-style: italic;
}
a:link {
	color: #3f51b5;
	text-decoration: none;
}
a:visited {
	color: #9c27b0;
}
a:hover {
	color: #c62828;
}
a:active {
	color: #ffc107;
}
footer {
	color: #bdbdbd;
	margin-top: 1em;
	text-align: center;
}
small {
	font-size: 0.8em;
	letter-spacing: 0.4em;
}
::-moz-selection {
	background: #ffc107;
	color: #000;
}
::selection {
	background: #ffc107;
	color: #000;
}
